<template>
	<v-app id="inspire">
		<v-navigation-drawer v-model="drawer" app clipped open>
			<v-list dense>
				<v-list-item link @click="nav('Dash')">
					<v-list-item-action>
						<v-icon>mdi-view-dashboard</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Dashboard</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-list-item link @click="nav('Operations')">
					<v-list-item-action>
						<v-icon>mdi-view-dashboard</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Operations</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-list-item link @click="nav('Types')">
					<v-list-item-action>
						<v-icon>mdi-tank</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Types</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-list-item link @click="nav('Settings')">
					<v-list-item-action>
						<v-icon>mdi-settings</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Settings</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list>
		</v-navigation-drawer>

		<v-app-bar app clipped-left>
			<v-app-bar-nav-icon @click.stop="drawer = !drawer" />
			<v-toolbar-title>Misty Roots</v-toolbar-title>
		</v-app-bar>

		<v-content>
			<v-container class="fill-height" fluid>
				<v-layout>
					<router-view></router-view>
				</v-layout>
			</v-container>
		</v-content>

		<v-footer app>
			<span>&copy; 2019</span>
		</v-footer>
	</v-app>
</template>

<script>
import routes from "@/router/routes";
export default {
	props: {
		source: String
	},
	data: () => ({
		drawer: null,
		navs: routes
	}),
	methods: {
		nav(routeName) {
			this.$router.push({
				name: routeName
			});
		}
	},
	created() {
		this.$vuetify.theme.dark = true;
	}
};
</script>
