<template>
  <div>
    <h1>Dash</h1>
    <v-sheet>{{ currentState }}</v-sheet>
    <v-btn @click="toggle()">Toggle LED</v-btn>

    <v-text-field v-model="time" label="Run time" required></v-text-field>
    <v-btn @click="runPump()">Run Pump</v-btn>

    <v-container fluid>
      <h2>Timer1</h2>
      <v-text-field v-model="time" label="on time" required></v-text-field>
      <v-text-field v-model="time" label="off time" required></v-text-field>
      <v-switch v-model="arm" label="Arm"></v-switch>

      <v-btn @click="saveTimer()">Save</v-btn>
    </v-container>
  </div>
</template>

<script>
import aws from "@/util/aws";
// const AWSIoTData = require("aws-iot-device-sdk");

const thingName = "IotThingGenerator-Thing-1UOMIQN8UBO1R";

export default {
  data: () => ({
    currentState: {},
    time: 0,
    arm: 0
  }),
  mounted() {
    this.load();
  },
  methods: {
    load() {
      aws.shadows.on("connect", s => {
        aws.shadows.register(thingName, x => {
          aws.shadows.get(thingName);
        });
      });

      aws.shadows.on("status", (name, statusType, clientToken, state) => {
        this.currentState = state;
        console.log("status");
      });

      aws.shadows.on("delta", (name, state) => {
        console.log("delta on " + name);
        console.log(state);
      });
    },
    toggle() {
      console.log("current state");
      console.log(this.currentState);
      aws.shadows.update(thingName, {
        state: {
          desired: {
            ledPower: Math.abs(this.currentState.state.desired.ledPower + -1)
          }
        }
      });

      aws.shadows.publish(
        "cmnd/sonoff/LEDPower",
        this.currentState.state.desired.ledPower + ""
      );
    },
    runPump() {
      console.log("current state");
      console.log(this.currentState);

      aws.shadows.update(thingName, {
        state: {
          desired: {
            power: 1,
            time: this.time
          }
        }
      });

      aws.shadows.publish("cmnd/sonoff/Power", "1");
      console.log("on");

      setTimeout(() => {
        console.log("off");

        aws.shadows.publish("cmnd/sonoff/Power", "0");
      }, this.time);
    }
  }
};
</script>
