<template>
	<div>
		<h1>Ops</h1>
		<v-container fluid>
			<v-dialog v-model="opDialog" persistent max-width="600px">
				<template v-slot:activator="{ on }">
					<v-btn color="primary" dark v-on="on">New Grow Op</v-btn>
				</template>
				<v-card>
					<v-card-title>
						<span class="headline">New Grow Operation:</span>
					</v-card-title>
					<v-alert v-if="error" type="error">
						{{ error }}
					</v-alert>

					<v-card-text>
						<v-container>
							<v-row>
								<v-col cols="12" sm="6" md="4">
									<v-text-field
										label="name*"
										v-model="groupName"
										required
									></v-text-field>
								</v-col>
							</v-row>
							<v-row>
								<v-select
									v-model="parentGroup"
									:items="thingGroups"
									filled
									label="Parent Operation"
									item-text="groupName"
								></v-select>
							</v-row>

							<v-row>
								<v-textarea
									solo
									v-model="groupDescription"
									name="input-7-4"
									label="Description"
								></v-textarea>
							</v-row>
						</v-container>
						<small>*indicates required field</small>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="blue darken-1"
							text
							@click="opDialog = false"
							>Close</v-btn
						>
						<v-btn color="blue darken-1" text @click="createGroup()"
							>Save</v-btn
						>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-container>

		<v-container fluid>
			<v-data-iterator
				:items="thingGroups"
				:items-per-page.sync="itemsPerPage"
				:footer-props="{ itemsPerPageOptions }"
			>
				<template v-slot:default="props">
					<v-row>
						<v-col
							v-for="group in props.items"
							:key="group.groupName"
							cols="12"
							sm="6"
							md="6"
							lg="6"
						>
							<v-card @click="click(group.groupName)">
								<v-card-title>
									<h4>{{ group.groupName }}</h4>
								</v-card-title>
								<v-divider></v-divider>
								<v-list dense>
									<v-list-item>
										<v-list-item-content
											>arn:</v-list-item-content
										>
										<v-list-item-content
											class="align-end"
											>{{
												group.groupArn
											}}</v-list-item-content
										>
									</v-list-item>
								</v-list>
							</v-card>
						</v-col>
					</v-row>
				</template>
			</v-data-iterator>
		</v-container>
	</div>
</template>

<script>
import aws from "../util/aws";

export default {
	data: () => ({
		itemsPerPageOptions: [4, 8, 12],
		itemsPerPage: 4,
		items: [
			{
				name: "Home Grow",
				id: "1",
				sensors: 159
			}
		],
		thingGroups: [],
		opDialog: false,
		groupName: "",
		parentGroup: {},
		groupDescription: "",
		error: ""
	}),
	mounted() {
		this.load();
	},
	methods: {
		load() {
			aws.listThingGroups()
				.then(res => {
					this.thingGroups = res.thingGroups;
					console.log(res);
				})
				.catch(err => console.log("error " + err));
		},
		click(opID) {
			this.$router.push({
				name: "Operation",
				params: {
					id: opID
				}
			});
		},
		createGroup() {
			const params = {
				thingGroupName: this.groupName,
				parentGroupName: this.parentGroup.groupName,
				tags: [],
				thingGroupProperties: {
					thingGroupDescription: this.groupDescription
				}
			};

			aws.createThingGroup(params)
				.then(res => {
					aws.listThingGroups().then(res => {
						this.thingGroups = res.thingGroups;
					});

					this.opDialog = false;
					this.error = "";
				})
				.catch(err => {
					console.log(err);
					this.error = err;
				});
		}
	}
};
</script>
