<template>
	<div>
		<h1>Operation: {{ this.name }}</h1>
		<v-tabs v-model="tab" grow>
			<v-tab>Boards</v-tab>
			<v-tab>Controls</v-tab>
			<v-tab>Notes</v-tab>
		</v-tabs>

		<v-tabs-items v-model="tab">
			<v-tab-item>
				<v-dialog v-model="boardDialog" persistent max-width="600px">
					<template v-slot:activator="{ on }">
						<v-btn color="primary" dark v-on="on">Add Board</v-btn>
					</template>
					<v-card>
						<v-card-title>
							<span class="headline">New Board</span>
						</v-card-title>
						<v-card-text>
							<v-container>
								<v-row>
									<v-col cols="12" sm="6" md="4">
										<v-text-field
											label="name*"
											v-model="thingName"
											required
										></v-text-field>
									</v-col>
								</v-row>
								<v-row>
									<v-select
										v-model="thingType"
										:items="thingTypes"
										filled
										label="Type"
										item-text="thingTypeName"
										item-value="thingTypeName"
									></v-select>
								</v-row>
							</v-container>
							<small>*indicates required field</small>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn
								color="blue darken-1"
								text
								@click="boardDialog = false"
								>Close</v-btn
							>
							<v-btn
								color="blue darken-1"
								text
								@click="createNewThing()"
								>Save</v-btn
							>
						</v-card-actions>
					</v-card>
				</v-dialog>

				<v-list>
					<v-list-item v-for="thing in things" :key="thing">
						<v-card class="mx-auto" max-width="344">
							<v-card-text>
								{{ thing }}
							</v-card-text>
						</v-card>
					</v-list-item>
				</v-list>
			</v-tab-item>
			<v-tab-item>
				<h1>Controls</h1>
			</v-tab-item>
			<v-tab-item>
				<h1>Settings</h1>
			</v-tab-item>
		</v-tabs-items>
	</div>
</template>

<script>
import aws from "../util/aws";

export default {
	data: () => ({
		name: "",
		tab: null,
		boardDialog: false,
		things: [],
		group: {},
		thingTypes: [],
		thingName: "",
		thingType: ""
	}),
	mounted() {
		this.load();
	},
	methods: {
		load() {
			const name = this.$route.params.id;
			this.name = name;
			let boards = aws
				.listThingsInThingGroup({
					thingGroupName: name
				})
				.then(res => {
					this.things = res.things;
				})
				.catch(err => {
					console.log(err);
				});

			aws.listThingTypes().then(result => {
				this.thingTypes = result.thingTypes;
			});

			aws.describeThingGroup({
				thingGroupName: this.name
			}).then(res => {
				this.group = res;
			});
		},
		createNewThing() {
			aws.createThing({
				thingName: this.thingName,
				thingTypeName: this.thingType
			})
				.then(res => {
					console.log(res);
					return aws.addThingToGroup({
						thingArn: res.thingArn,
						thingGroupArn: this.group.thingGroupArn
					});
				})
				.then(res => {
					console.log(res);
					this.boardDialog = false;
					this.load();
				})
				.catch(err => {
					this.error = err;
					console.log("catch");
					console.log(err);
				});
		}
	}
};
</script>
