<template>
	<div>
		<h1>Types</h1>
		<v-container fluid>
			<v-dialog v-model="dialog" persistent max-width="600px">
				<template v-slot:activator="{ on }">
					<v-btn color="primary" dark v-on="on">New Type</v-btn>
				</template>
				<v-card>
					<v-card-title>
						<span class="headline">New Type:</span>
					</v-card-title>
					<v-alert v-if="error" type="error">
						{{ error }}
					</v-alert>

					<v-card-text>
						<v-container>
							<v-row>
								<v-col cols="12" sm="6" md="4">
									<v-text-field
										label="name*"
										v-model="typeName"
										required
									></v-text-field>
								</v-col>
							</v-row>
						</v-container>
						<small>*indicates required field</small>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="blue darken-1"
							text
							@click="dialog = false"
							>Close</v-btn
						>
						<v-btn color="blue darken-1" text @click="createType()"
							>Save</v-btn
						>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-container>

		<v-container fluid>
			<v-data-iterator
				:items="thingTypes"
				:items-per-page.sync="itemsPerPage"
				:footer-props="{ itemsPerPageOptions }"
			>
				<template v-slot:default="props">
					<v-row>
						<v-col
							v-for="type in props.items"
							:key="type.thingTypeName"
							cols="12"
							sm="6"
							md="6"
							lg="6"
						>
							<v-card @click="click(group.groupName)">
								<v-card-title>
									<h4>{{ type.thingTypeName }}</h4>
								</v-card-title>
								<v-divider></v-divider>
								<v-list dense>
									<v-list-item>
										<v-list-item-content
											>arn:</v-list-item-content
										>
										<v-list-item-content
											class="align-end"
											>{{
												type.thingTypeArn
											}}</v-list-item-content
										>
									</v-list-item>
									<v-list-item>
										<v-list-item-content
											>name:</v-list-item-content
										>
										<v-list-item-content
											class="align-end"
											>{{
												type.thingTypeName
											}}</v-list-item-content
										>
									</v-list-item>
									<v-list-item>
										<v-list-item-content
											>metadata:</v-list-item-content
										>
										<v-list-item-content
											class="align-end"
											>{{
												type.thingTypeMetadata
											}}</v-list-item-content
										>
									</v-list-item>
								</v-list>
							</v-card>
						</v-col>
					</v-row>
				</template>
			</v-data-iterator>
		</v-container>
	</div>
</template>

<script>
import aws from "../util/aws";

export default {
	data: () => ({
		itemsPerPageOptions: [4, 8, 12],
		itemsPerPage: 4,

		thingTypes: [],
		dialog: false,
		typeName: "",

		error: ""
	}),
	mounted() {
		this.load();
	},
	methods: {
		load() {
			aws.listThingTypes()
				.then(res => {
					this.thingTypes = res.thingTypes;
					console.log(res);
				})
				.catch(err => (this.error = err));
		},
		createType() {
			aws.createThingType({
				thingTypeName: this.typeName
			})
				.then(res => {
					aws.listThingTypes().then(
						types => (this.thingTypes = types.thingTypes)
					);

					this.dialog = false;
				})
				.catch(err => {
					this.error = err;
				});
		}
	}
};
</script>
